body{
    background-color: black;

}
.truck{
    
    position: absolute;
    padding-top: 23%;
    left:5px;
   
    animation-name: truck;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;

}
@keyframes truck {
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(350%);    }
    
}
.cloud
{
    position: absolute;
    top:5%;
    
    right:10px;
    z-index:1;
    animation:cloud 25s linear infinite;
}
@keyframes cloud {
    from{right:-200px;}
    to{right:100%;}
    
}
.cloud1
{
    position: absolute;
    top:10%;
    right:10px;
    width:20%;
    z-index:1;
    animation:cloud1 50s linear infinite;
}

@keyframes cloud1 {
    from{right:-300px;}
    to{right:100%;}
    
}
.sun{
    width: 100px;
    height: 100px;

    position: absolute;
    top: 100px;
    left:50%;
   
    background-color: yellow;
    border-radius: 50%;

}





